/* =============
    Search
============= */
#search{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    background-color: $greyLight;

    @include xl{
        grid-template-columns: auto 1000px auto;
    }

    >div{
        // border: 5px solid red;
        grid-area: search;

        form{

            input{

                @include md{

                    // 16px = 1em;

                    // 1em = 1rem;

                    // font-size: 30px;
                    font-size: rem-calc(30);
                    font-weight: 300;
                    color: $stoneSilver;

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $stoneSilver;
                        /* Firefox */
                        opacity: 1;
                    }
    
                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: $stoneSilver;
                    }
    
                    &::-ms-input-placeholder {
                        /* Microsoft Edge */
                        color: $stoneSilver;
                    }
                }

            }

            button{
                background-color: $yellow;
            }
        }
    }
}