/* =============
    Search
============= */
#search {
	background-color: $greyLight;
	display: grid;
	grid-template-areas: ". search .";
	grid-template-columns: 16px auto 16px;
	padding: 18px 0;
	margin-top: 75px;


	@include md {
		padding: 22px 0;
		margin-top: 120px;
	}

	@include lg {
		margin-top: 125px;
	}


	@include xl {
		grid-template-columns: auto 1000px auto;
	}
	>div {
		grid-area: search;
		form {
			display: flex;
			input {
				background-color: transparent;
				border: none;
				border-bottom: 1px solid $stoneSilver;
				border-radius: 0px;
				font-size: rem-calc(20);
				font-weight: 400;
				width: 100%;
				@include md {
					// font-size: 30px;
					color: $stoneSilver;
					font-size: rem-calc(30);
					font-variation-settings: "wght"400;
					font-weight: 300;
				}
				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $stoneSilver;
					/* Firefox */
                    opacity: 1;
					font-variation-settings: "wght"400;
				}
				&:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
                    color: $stoneSilver;
					font-variation-settings: "wght"400;
				}
				&::-ms-input-placeholder {
					/* Microsoft Edge */
                    color: $stoneSilver;
					font-variation-settings: "wght"400;
				}
			}
			button {
				background-color: $yellow;
				border: none;
				border-radius: 5px;
				font-size: rem-calc(30);
				margin-left: 10px;
				padding: 10px 15px;
			}
		}
	}
}
