/* =============
    Search
============= */
#search{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    background-color: $greyLight;
    padding: 18px 0;

    @include md{
        padding:22px 0;
    }

    @include xl{
        grid-template-columns: auto 1000px auto;
    }

    >div{
        // border: 5px solid red;
        grid-area: search;

        form{

            // display: grid;
            // grid-template-columns: 80% auto;
            // gap: 10px;

            // @include md{
            //     grid-template-columns: 90% auto;
            // }

            // @include xl{
            //     grid-template-columns: 92% auto;
            // }

            display: flex;

            input{
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $stoneSilver;
                font-weight: 400;
                font-size: rem-calc(18);
                border-radius: 0px;
                width: 100%;
                // border: 1px solid red;

    
                @include md{

                    // 16px = 1em;

                    // 1em = 1rem;

                    // font-size: 30px;
                    font-size: rem-calc(30);
                    font-weight: 300;
                    color: $stoneSilver;

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $stoneSilver;
                        /* Firefox */
                        opacity: 1;
                    }
    
                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: $stoneSilver;
                    }
    
                    &::-ms-input-placeholder {
                        /* Microsoft Edge */
                        color: $stoneSilver;
                    }
                }

            }

            button{
                margin-left: auto;
                background-color: $yellow;
                border: none;
                border-radius: 5px;
                padding: 10px 15px;
                // padding: 10px 0;
                font-size: rem-calc(30);
                margin-left: 10px;
                // width: 50px;
            }
        }
    }
}