/* =============
    Buttons
============= */
.yellow-button {
    background-color: $yellow;
    border: none;
    font-size: rem-calc(16);
    font-weight: 600;
    font-variation-settings: "wght" 600;
    padding: 10px;
    transition: 0.25s;

    &:hover {
        background-color: $black;
        color: $white;
    }
}